.place__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    grid-area: title;
    max-width: 288px;
    width: 100%;
}

@media screen and (min-width: 340px) {
    .place__title {
        text-align: start;
        margin-left: 5vw;
    }
}

@media screen and (min-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin-right: 0;
        margin-left: 0;
        max-width: 340px;
        align-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
        max-width: 440px;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .place__title {
        max-width: 460px;
    }
}