.lead__title {
    margin: 0 auto;
    width: 90%;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__title {
        width: 93.75%;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        width: 70.3125%;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        width: 56.25%;
    }
}