.cover {
    width: 100%;
    padding-top: 69px;
}

@media screen and (min-width: 768px) {
    .cover {
        padding-top: 51px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        padding-top: 90px;
        margin-bottom: 93px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        display: flex;
        padding-top: 97px;
        margin-bottom: 85px;
        align-content: center;
        justify-content: center;
    }
}