.cover__title {
    max-width: 560px;
    width: 90%;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
    z-index: 5;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}