.footer__lists {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 32px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .footer__lists {
        flex-direction: row;
        column-gap: 18px;
        margin: 0;
    }
}